body {
    background-color: white;
  }
  
  h4 {
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;    
  }

  #city {
    border-radius: 25px;
    background: white;
    font-size: 24px;
    color: blue;
    padding: 10px; 
    width: 80%;
    height: 10px;  
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 24px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
